_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/
node_modules/
.DS_Store
assets/images/**/.DS_Store
assets/**/.DS_Store
yarn-error.log
npm-debug.log*
*.log
.env
_config.yml.bak
Thumbs.db
*.sublime-project
*.sublime-workspace
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp

# Ignore source maps
*.map
