<footer role="contentinfo" class="site-footer">
  <div class="footer-columns">
    <div class="footer-left">
      <p>&copy; {{ site.time | date: "%Y" }} Natalia Arsand</p>
      <p>Amsterdam, NL</p>
    </div>

    <div class="footer-right">
      <p><a href="mailto:hi@nataliarsand.com">hi@nataliarsand.com</a></p>
      <ul class="footer-social-icons">
        <li>
          <a href="https://www.linkedin.com/in/nataliarsand/" aria-label="LinkedIn">
            <i class="fa-brands fa-linkedin-in"></i>
            <span class="tooltip">We all play the game.</span>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/nataliarsand/" aria-label="Instagram">
            <i class="fa-brands fa-instagram"></i>
            <span class="tooltip">It’s private, but honest.</span>
          </a>
        </li>
        <li>
          <a href="https://x.com/nataliarsand" aria-label="X">
            <i class="fa-brands fa-x-twitter"></i>
            <span class="tooltip">Where I once had thoughts.</span>
          </a>
        </li>        
        <li>
          <a href="https://www.slideshare.net/nataliarsand" aria-label="Slideshare">
            <i class="fa-brands fa-slideshare"></i>
            <span class="tooltip">Content I crafted with care.</span>
          </a>
        </li>
        <li>
          <a href="https://github.com/nataliarsand" aria-label="GitHub">
            <i class="fa-brands fa-github"></i>
            <span class="tooltip">Code experiments and projects.</span>
          </a>
        </li>
      </ul>
      
    </div>
  </div>

  <div class="footer-moon">
    <span class="easter-egg">
      <i class="fa-solid fa-moon" aria-label="Easter egg trigger"></i>
      <span class="tooltip">May your pixels be aligned and your energy grounded.</span>
    </span>
  </div>

  <a href="#" id="back-to-top" title="Back to top" aria-label="Back to top">↑</a>
</footer>
