<footer>
    <section class="footer-info">
      <p>&copy; {{ site.time | date: "%Y" }} Natalia Arsand</p>
      <p>Amsterdam, NL | Hand-crafted with care</p>
      <p>
        <a href="mailto:hi@nataliarsand.com">hi@nataliarsand.com</a>
      </p>
    </section>
  
    <section class="footer-links">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/works/work-1">Portfolio</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="mailto:hi@nataliarsand.com">Contact</a></li>
      </ul>
    </section>

    <span class="easter-egg">
      <i class="fa-solid fa-moon"></i>
      <span class="tooltip">May your pixels be aligned and your energy grounded.</span>
    </span>

    <a href="#" id="back-to-top" title="Back to top">↑</a>
            
    

  </footer>
  