<section class="work-sidebar">
    <nav class="navigation">
        <!-- Back Button -->
        <a href="/" class="back-button">
            <i class="fa-solid fa-chevron-left"></i>
        </a>
        <a href="#" class="disabled"><i class="fa-solid fa-chevron-right"></i></a>
        <!-- Sidebar Title -->
        <h2 class="nav-title">Selected Works</h2>
    </nav>
        <nav class="folders">
            <ul>
            {% assign works = site.works %}
            {% for work in works %}
            <li class="project-item {% if page.url == work.url %}selected{% endif %}">
                <a href="{{ work.url }}">
                    <img src="/assets/images/folder.png" alt="folder-icon" class="folder-icon">
                    {{ work.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</section>
