<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <a href="#main-content-start" class="skip-link">Skip to main content</a>
    {% include header.html %}

    <main id="home">
        <div id="main-content-start"></div>
        {{ content }}
    </main>

    {% include footer.html %}
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script src="/assets/script.js"></script>

    <!-- Hello, curious mind. I see you like peeking under the hood. We’d probably get along. -->
</body>
</html>
