<!DOCTYPE html>
<html lang="en">
{% include sections/meta-head.html %}
<body class="default-theme">
    <a href="#main-content-start" class="skip-link">Skip to main content</a>
    {% include sections/header.html %}

    <main id="{{ page.main_id | default: 'home' }}">
        <div id="main-content-start"></div>
        {{ content }}
    </main>

    {% include sections/footer.html %}

    {% include components/image-modal.html %}
    {% include components/about-mac-modal.html %}

    <script src="{{ '/assets/script.js' | relative_url }}"></script>

    <!-- Hello, curious mind. I see you like peeking under the hood. We'd probably get along. -->
</body>
</html>
