<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
<body>
    {% include header.html %}

    <main id="selected-works" class="container">
        <!-- Include the Sidebar -->
        {% include work-sidebar.html %}

        <!-- Main Content -->
        <section class="content">
            <div class="work intro">
                <!-- Render Title and Subtitle -->
                <h1>{{ page.title }}</h1>
                {% if page.subtitle %}
                <h2>{{ page.subtitle }}</h2>
                {% endif %}
                <!-- Render Description -->
                {% if page.description %}
                <p>{{ page.description }}</p>
                {% endif %}
            </div>

            {% if page.deliverables or page.process or page.team or page.credits %}
                {% include work-tabs.html %}
            {% endif %}
          

            <!-- Render Markdown Content -->
            {{ content }}

            <div class="parallax-container" style="background-image: url('{{ page.image }}');"></div>
        </section>
    </main>
    
    {% include footer.html %}
    <script src="/assets/script.js"></script>
</body>
</html>
